@use "../layouts" as *;
@use "../abstracts" as *;

.music.window {
  @include window;
  background: rgb(0, 0, 0);
  padding: 0.5rem 0.5rem;
  margin-top: $spacing-md;
  filter: blur(0px);
  border-radius: 16px;

  .cover {
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin: 0.3rem;
    min-height: 3rem;
    min-width: 3rem;
    opacity: 0.8;
    box-shadow: 0 0 20px 5px rgba(0, 150, 255, 0.7);
  }

  .cover-glow {
      background-color: rgba(0, 150, 255, 0.5);
      border-radius: 9999px;
      filter: blur(15px); // soft glow
      opacity: 0.5;       // default, reactive opacity in TSX
    }

  .blurred-cover {
    border-radius: 16px;
    opacity: 0.8;
  }

  .cava-container {
    cava {
      opacity: 0.2;
      min-width: 3.5rem;
      min-height: 3.5rem;
    }
  }
}

.music.window .info {
  margin: 0 0.4rem;

  label {
    margin: 0.1rem 0;
  }

  // Always use light colors on player text and controls.
  // Dark almost never works on on top of most cover arts.
  label,
  .title,
  image {
    @if not $darkmode {
      color: $background;
    }
  }

  .title {
    font-size: 0.95rem;
    font-weight: bold;
    min-width: 6rem;
  }
}

.music.window .controls {
  button {
    margin: 0 1.6rem;
    -gtk-icon-size: 1.5rem;
    @if not $darkmode {
      color: $background;
    }
  }
}

.music.window .player-info {
  margin-bottom: 0;

  .player-icon {
    -gtk-icon-size: $font;
  }
}
